body {   
    font-family: 'Arial', sans-serif;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;   
    margin: 0;
    background: linear-gradient(135deg, #f0f4f8, #dfe9f3);
}

.calculator {  
    background-color: white;  
    border-radius: 15px;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);  
    padding: 25px;  
    width: 340px;  
}

#expression {  
    height: 50px;  
    font-size: 22px;  
    text-align: right;   
    margin-bottom: 15px;  
    border: none;  
    border-radius: 8px;  
    padding: 10px;  
    background-color: #f3f9ff;  
    color: #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.full-expression-display {
    font-size: 16px;
    color: #555;
    text-align: right;
    margin-bottom: 8px;
}

.buttons {  
    display: grid;  
    grid-template-columns: repeat(4, 1fr);  
    gap: 10px;  
}  

.button {  
    padding: 18px;  
    font-size: 18px;  
    border: none;  /* Видаляємо рамку */
    outline: none; /* Видаляємо контур */
    border-radius: 8px;  
    background-color: #d1e7fd;  
    color: #333;  
    cursor: pointer;  
    transition: background-color 0.3s, transform 0.1s;  
}

.button.operator {  
    background-color: #ffd7e0;  
    color: #333;
}

.button.operator.equals {
    background-color: #ffd7e0;  
    color:  #333;
    grid-column: span 1;
}

.button:hover {  
    background-color: #a4c8e1;  
    transform: translateY(-2px);
}  

.button.operator:hover {  
    background-color: #ff9e9e;  
    transform: translateY(-2px);
}

.c, .zero {
    padding: 18px;  
    font-size: 18px;  
    grid-column: span 2; 
    background-color: #d1e7fd;
    border: none;   /* Видаляємо рамку */
    outline: none;  /* Видаляємо контур */
    border-radius: 8px; 
}

.c:hover, .zero:hover {
    background-color: #a4c8e1;
}